.App .about, .todo{
    padding: 60px;
}

.page-header{
    padding: 20px;
    margin-left: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-header small{
    margin-left: 5px;
    color: #777;
}

hr{
    margin-top: 0px;
}

p{
    margin-left: 10px;
}

.todoForm{
    display: flex;
    justify-content: center;
}

.todoForm input{
    min-width: 400px;
}